body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: skyblue;
    height: 100vh;
    position: relative;
}

#player {
    background-color: rgb(255, 0, 166);
    position: absolute;
}